{% extends "base.html" %}
{% block overstyle %}
<style>
body {
    background-color: #e0e1e2;
}
</style>
{% endblock %}
{% load i18n %}
{% block outer_content %}
    <div class="ui three column grid very padded">
        <div class="ui column centered">
            <div class="ui inverted teal segment">
                <h2>{% trans "Log in" %}</h2>
                <form class="ui form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="ui button" type="submit">{% trans "Log in" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block header %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block footer %}
{% endblock %}