{% extends "base.html" %}
{% load i18n %}
{% block home_button_active %}active{% endblock %}
{% block content %}
<div class="ui link three cards">
    <a class="ui card" href="{% url "home" trip.id %}">
        <div class="image">
            <img src="{{ trip.image.url }}" alt="">
        </div>
        <div class="content">
            <div class="header">{{ organizerprofile }}</div>
            <div class="description">{{ organizerprofile.user.username }}</div>
        </div>
        <div class="extra content">
            <span><i class="user icon"></i> {{ organizerprofile.score }}</span>
        </div>
    </a>
</div>
{% endblock %}
