{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    {% if trip.image %}
        <img class="ui fluid image" src="{{ trip.image.url }}" alt=""/>
    {% endif %}
    <br>
    <div class="ui four horizontal cards">
        <div class="olive card">
            <div class="content">
                <div class="header">
                    <i class="users icon"></i> چند نفریم؟
                </div>
            </div>
            <div class="extra content">
                <div class="small header">
                    {{ trip.capacity }}
                </div>
            </div>
        </div>
        <div class="olive card">
            <div class="content">
                <div class="header">
                    <i class="calendar alternate icon"></i> از کی تا کی؟
                </div>
            </div>
            <div class="extra content">
                <div class="small header">
                    {{ trip.start_date|date:"d M" }} - {{ trip.end_date|date:"d M" }}
                </div>
            </div>
        </div>
        <div class="olive card">
            <div class="content">
                <div class="header">
                    <i class="flag icon"></i> با کی میریم؟
                </div>
            </div>
            <div class="extra content">
                <div class="small header">
                    <a href='{% url "auth:organizer_profile" trip.organizer.user.pk %}'>{{ trip.organizer.user }}</a>
                </div>
            </div>
            
        </div>
        <div class="olive card">
            <div class="content">
                    <div class="header">
                        {{ trip.tags_raw }}
                    </div>
            </div>
        </div>

        
    </div>

    <div class="ui segment">
        <h2 class="ui header">{{ trip.title }}</h2>
        <p class="text">{{ trip.description|linebreaks }}</p>
        <ul>
            <li>
                <form method=POST action='{% url "trips:add_comment" trip.id %}' >
                    {% csrf_token %}
                    <input type="text" name=text />
                    <input type="submit" value='{% trans "Add Comment" %}' />
                </form>
            </li>
            {% for c in trip.comments %}
                {% if c.is_block %}
                    <li>{{c.profile}}: {{ c.text }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    </div>
    <div class="ui horizontal divider">منم هستم</div>
    <div class="ui one column grid">
        <div class="center aligned column">
            {% if preregister %}
                <div class="ui olive message">
                    {% if preregister.is_approved %}
                        <i class="check icon"></i>
                        {% trans "Your registeration is approved." %}
                    {% else %}
                        <i class="spinner icon"></i>
                        {% trans "Your registeration is pending for approvement." %}
                    {% endif %}
                </div>
                <form action="{% url "trips:cancel_preregister" trip.id %}" method="post">
                {% csrf_token %}
                <button class="small ui orange button" type="submit"><i class="cancel icon"></i>نمی‌تونم تو این سفر باشم</button>
                </form>
            {% else %}
                <form action="{% url "trips:preregister" trip.id %}" method="post">
                    {% csrf_token %}
                    می‌خوام
                    <button class="big ui olive button" type="submit"><i class="hand peace icon"></i> پیش‌ثبت‌نام
                    </button>
                    کنم
                </form>
            {% endif %}
            {% if preregister.is_paid %}
                <div class="ui olive message" style="max-width: 300px">
                    <i class="check icon"></i>
                    {% trans "Your registeration is paid." %}
                </div>
            {% else %}
                    <form action="{% url "trips:pay" preregister.id %}" method="post">
                        {% csrf_token %}
                        <button class="ui olive basic label">{% trans "Pay" %}</button>
                    </form>
            {% endif %}
        </div>
    </div>

{% endblock %}
