{% extends "base.html" %}
{% load i18n %}
{% block home_button_active %}active{% endblock %}
{% block content %}
    <div class="ui link three cards">
        {% for trip in trip_list %}
            <a class="ui card" href="{% url "trips:detail" trip.id %}">
                <div class="image">
                    <img src="{{ trip.image.url }}" alt="">
                </div>
                <div class="content">
                    <div class="header">{{ trip.title }}</div>
                    <div class="description">{{ trip.description }}</div>
                </div>
                <div class="extra content">
                    <span><i class="user icon"></i> {{ trip.capacity }}</span>
                    <span class="right floated">{{ trip.start_date|date:"d M" }} - {{ trip.end_date|date:"d M" }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated and request.user.profile.is_organizer %}
        <div class="ui horizontal divider">{% trans "Organizer" %}</div>
        <div class="ui one column grid">
            <div class="center aligned column">
                همین حالا
                <a class="big ui olive button" href="{% url "trips:new" %}"><i class="plus icon"></i> سفر جدید</a>
                 ثبت کنید
            </div>
        </div>
    {% endif %}
{% endblock %}
